:root {
    --primary-text-color: #222218;
    --primary-color: #ffba00;
    --primary-element-color: #ff8800;
    --white-color: #ffffff;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Grid system */
.grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.grid__column-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.3333%;
}
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}

.grid__column-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.grid__column-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.grid__column-8 {
    width: 66.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}